button{
    width:fit-content;
    background-color: lightslategray;
}
button:hover{
    cursor:grab;
}
button:active{
    cursor: grabbing;
}
.clearfix {
    clear: both;
}

.chess_control{
    width: 100%;
}
.chess_control:active{
    background-color: gray;
}

#game_data_box{
    width: 20%;
    min-width: 200px;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    float: left;
}

#game_box{
    width: 35%;
    min-width: 300px;
    float: left;
    margin-left: 5%;
}

#myBoard{
    width: 100%;
    height: auto;
    background-color: brown;
    border: 5px brown solid;
}

#game_control_buttons{
    margin-top: 30px;
    width: 100%;
}

#user_info{
    padding: 5px;
    border: 1px solid black;
    background-color: palevioletred;
}

#chess-clock{
    width: 100%;    
}
#pgnText{
    height: 100px;
    border:5px mediumblue solid;
    overflow-y:auto;
    background-color: black;
    color:lime;
    font-family: 'Courier New', Courier, monospace;
}
#StatusDisplay{
    padding:6px;
    border:5px black solid;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightseagreen;
}
#fenDisplay{
    height: 50px;
    padding: 5px;
    border:5px mediumblue solid;
    font-size: xx-small;
    overflow-x: auto;
    background-color: black;
    color:lime;
    font-family: 'Courier New', Courier, monospace;
}

.copy_btn{
    width: fit-content;
    border: 2px solid black;
}
#copy_fen{
    float: left;
}

#copy_pgn{
    float: right;
}

.clock{
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: lightcoral;
    font-family: cursive;
}

#logoutBtn{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: green
}

#box{
    text-align: center;
    border:1px black solid;
    background-color: white;
    padding: 5px;
}

#engine_box{
    width: 20%;
    min-width: 100px;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5%;
    float: left;
}

#engine_level{
    width: 100%;
    margin-top: 10px;
}

#level_display{
    width: fit-content;
    margin: auto;
}

#game_mode{
    width: fit-content;
    margin: 10px auto;
}

body{
    overflow: hidden;
    background-color: darkslategray;
    padding: 5px;
}