button{
    width:fit-content;
    background-color: lightslategray;
}
button:hover{
    cursor:grab;
}
button:active{
    cursor: grabbing;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkslategray;
    border-radius: 50px;
}



.crownBtn{
    width: fit-content;
    float: left;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameBtn{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.clearfix{
    clear: both;
}

body{
    overflow: hidden;
    background-color: darkslategray;
    padding: 5px;
    display: none;
}

#clock_options{
    margin: 10px auto;
    background-color: rgb(124, 124, 153);
    padding: 5px;
    border-radius: 20px;
    font-family: cursive;
}

#container{
    width: 100%;
    background-color: darkslategray;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


#user_data{
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#game_container{
    width: 35%;
    max-width: 500px;
    min-width: 300px;
    flex-grow: 2;
}

#game_controls{
    width: 15%;
    min-width: 200px;
    border-radius: 20px;
    padding: 10px;
}

#preMoveOpt{
    width: fit-content;
    margin: 10px auto;
}
#myBoard{
    width: 100%;
    height: auto;
    background-color: brown;
    border: 5px brown solid;
}

#user_info{
    padding: 5px;
    border: 1px solid black;
    background-color: palevioletred;
    text-align: start;
}

#chess-clock{
    width: 100%;    
}

#pgnBtn{
    position: relative;
    float: right;
    display: None;
}
#pgnDisplay{
    height: 400px;
    width: 100%;
    border:5px gray solid;
    padding: 5px;
    overflow-y:auto;
    background-color:black;
    border-radius: 20px;
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


#StatusDisplay{
    width: 100%;
    border-radius: 20px;
    padding:6px;
    border:5px black solid;
    height: 50px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightseagreen;
}

#copyBtns{
    margin-bottom: 10px;
}

.copy_btn{
    width: fit-content;
    border: 2px solid black;
}

#quitBtn{
    display: none;
}

#clocks{
    width: fit-content;
    margin: 2px auto;
}
#opponent_info{
    padding: 5px;
    border: 1px solid black;
    width: 50%;
    margin: 5px auto;
    background-color: palevioletred;
}
.clock{
    width: fit-content;
    padding: 2px;
    border: 1px black solid;
    background-color: gray;
    font-family: cursive;
    font-size: xx-large;
    display: inline;
}

#logoutBtn{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: green
}

#box{
    text-align: center;
    border:1px black solid;
    background-color: white;
    padding: 5px;
}

#engine_box{
    width: 20%;
    min-width: 100px;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5%;
    float: left;
}

#engine_level{
    width: 100%;
    margin-top: 10px;
}

#level_display{
    width: fit-content;
    margin: auto;
}


#settings{
    margin: 10px auto;
    width: fit-content;
    margin: 0 auto;
}

/* The switch - the box around the settingsSlider */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The settingsSlider */
  .settingsSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .settingsSlider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .settingsSlider {
    background-color: #2196F3;
  }
  
  input:focus + .settingsSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .settingsSlider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded settingssettingsSliders */
  .settingsSlider.round {
    border-radius: 34px;
  }
  
  .settingsSlider.round:before {
    border-radius: 50%;
  }

.data_item{
    text-align: center;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1000px){
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #user_data{
        width: 70%;
        min-width: 300px;
        height: 200px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .data_item{
        width: 30%;
    }
    #user_info{
        width: 100%;
    }
    #game_container{
        max-width: none;
    }
    #game_controls{
        display: flex;
        flex-direction: column;
        width: 80%;
        display: none;
    }
    #pgnDisplay{
        height: 200px;
    }
    #StatusDisplay{
        height: 25px;
    }
}