body{
    overflow: hidden;
    background-color: darkslategray;
    padding: 5px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#form-container{
    width: 30%;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: dimgray;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}

.form_group{
    width: 80%;
    margin: 20px auto;
}

.form_input{
    width: 100%;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
}

.help{
    font-size: x-small;
    margin: 0;
    margin-left: 5px;
}
.form_button{
    width: 100%;
    height: 30px;
    background-color: green;
    border: 1px solid lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

a{
    color: blue;
}

#loader {
    position: absolute;
    top: 100px;
    left: 80px;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}