:root{
    --speed_of_skew: 1s;

}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#LaskerChamp_txt{
    background: linear-gradient(30deg, silver, gold, white, black, );
     background-size: cover;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -moz-background-clip:text;
     background-clip:text;
     text-align:center;
     /* -webkit-text-stroke: 3px #ffaa00; */
}
/* the bottom three options are option for what to display */
/* #chess_game_txt{
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    -webkit-animation:spin_txt 3s linear infinite alternate;
    -moz-animation:spin_txt 3s linear infinite alternate;
    animation:spin_txt 3s linear infinite alternate;
} */
/*
#chess_game_txt{
    text-align: center;
    font-family: "Avenir Next";
    font-style: italic;
    color:blue;
    letter-spacing: 0.05em;
    font-size: xx-large;
    font-weight:bolder;
    text-shadow: 1px 1px honeydew
                 2px 2px azure
                 3px 3px ghostwhite
                 4px 4px beige
                 5px 5px antiquewhite
                 6px 6px ivory
                 7px 7px lavenderblush
                 8px 8px mistyrose
                 9px 9px white
                 10px 10px wheat
                 10px 10px 30px rgba(0,0,0,.7);
}*/
#chess_game_txt{
    font-size: 3cm;
    text-align: center;
    letter-spacing: 15px;
    color:black;
    transform: skew(-25deg);
    /* flip the order that way it goes down from the black to the near white */
    text-shadow: 1px 1px rgb(250, 250, 250),
                 2px 2px rgb(225, 225, 225),
                 3px 3px rgb(200, 200, 200),
                 4px 4px rgb(175, 175, 175),
                 5px 5px rgb(150, 150, 150),
                 6px 6px rgb(125, 125, 125),
                 7px 7px rgb(100, 100, 100),
                 8px 8px rgb(075, 075, 075),
                 9px 9px rgb(050, 050, 050),
                 10px 10px rgb(025, 25, 25),
                 10px 10px 30px rgba(0,0,0,.7);

    -webkit-animation:spin_txt var(--speed_of_skew) linear infinite alternate;
    -moz-animation:spin_txt var(--speed_of_skew) linear infinite alternate;
    animation:spin_txt var(--speed_of_skew) linear infinite alternate;
}

@-moz-keyframes spin_txt { 
    100% { -moz-transform: skew(25deg); } 
}
@-webkit-keyframes spin_txt { 
    100% { -webkit-transform: skew(25deg); } 
}
@keyframes spin_txt { 
    100% { 
        -webkit-transform: skew(25deg); 
        transform:skew(25deg); 
    } 
}

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@keyframes rotation {
  to {
    transform: rotate(360deg) translateX(-50%) translateY(-50%);
  }
}
h1 {
    font-size: 8em;
    letter-spacing: 15px;
    transform: rotate(-10deg);
    text-shadow: 1px 1px hsl(50, 50%, 45%),
                 2px 2px hsl(50, 50%, 40%),
                 3px 3px hsl(50, 50%, 35%),
                 4px 4px hsl(50, 50%, 34%),
                 5px 5px hsl(50, 50%, 33%),
                 6px 6px hsl(50, 50%, 32%),
                 7px 7px hsl(50, 50%, 31%),
                 8px 8px hsl(50, 50%, 30%),
                 9px 9px hsl(50, 50%, 29%),
                 10px 10px hsl(50, 50%, 28%),
                 10px 10px 30px rgba(0,0,0,.7);
  }
button{
    width:fit-content;
    background-color: gold;
}
button:hover{
    cursor:grab;
}
button:active{
    cursor: grabbing;
}
.clearfix {
    clear: both;
}

.chess_control{
    margin: 10px;
}
#buttons{
    padding: 6px;
    margin: 50px;
    width: fit-content;
    float: left;
}
#myBoard{
    background-color: darkslateblue;
    border-top:3px darkslateblue solid;
    border-left:3px darkslateblue solid;
    border-bottom:3px darkslateblue solid;
    float: left;
}

#data_box{
    width: 25%;
    padding: 10px;
    float: left;
    margin-right: 10%;
}

#pgnText{
    height: 100px;
    border:5px mediumblue solid;
    overflow-y:auto;
    background-color: black;
    color:lime;
    font-family: 'Courier New', Courier, monospace;
}
#StatusDisplay{
    padding:6px;
    border:5px black solid;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}
#fenDisplay{
    overflow-x: auto;
    border:5px black solid;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}
.copy_btn{
    margin: 10px;
    float: left;
}

#box{
    text-align: center;
    border:1px black solid;
    background-color: white;
}
#back_top_line{
    position: absolute;
    top:0;
    left:-3px;
    height:15%;
    width:105%;
    /* animation: spinTopLine 3s infinite alternate; */
    background-color: snow;
    z-index:-3;
}
@keyframes spinTopLine {
    0%{background-image:linear-gradient(7deg, crimson, khaki, palegreen, powderblue pink);}
    20%{background-image:linear-gradient(7deg, khaki, palegreen, powderblue, pink,  crimson);}
    40%{background-image:linear-gradient(7deg, palegreen, powderblue, pink, crimson, khaki);}
    60%{background-image:linear-gradient(7deg, powderblue, pink, crimson, khaki, palegreen);}
    80%{background-image:linear-gradient(7deg, pink, crimson, khaki, palegreen, powderblue);}
    100%{background-image:linear-gradient(7deg, crimson, khaki, palegreen, powderblue, pink);}
}

#game_over{
        -ms-transform: rotate(20deg); /* IE 9 */
        transform: rotate(20deg);
}

#chess_game{
    display: none;
}

body{
    overflow: hidden;
    background-color: aquamarine;
}
#switch_to_game{
    width:10%;
    position: relative;
    transform: translate(-50%, -50%);
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}