.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    width:fit-content;
    background-color: gold;
}
button:hover{
    cursor:grab;
}
button:active{
    cursor: grabbing;
}
.clearfix {
    clear: both;
}

.chess_control{
    margin: 10px;
}
#buttons{
    padding: 6px;
    margin: 50px;
    width: fit-content;
    float: left;
}
#myBoard{
    background-color: darkslateblue;
    border-top:3px darkslateblue solid;
    border-left:3px darkslateblue solid;
    border-bottom:3px darkslateblue solid;
    float: left;
}

#data_box{
    width: 25%;
    padding: 10px;
    float: left;
    margin-right: 10%;
}

#pgnText{
    height: 100px;
    border:5px mediumblue solid;
    overflow-y:auto;
    background-color: black;
    color:lime;
    font-family: 'Courier New', Courier, monospace;
}
#StatusDisplay{
    padding:6px;
    border:5px black solid;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}
#fenDisplay{
    overflow-x: auto;
    border:5px black solid;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}
.copy_btn{
    margin: 10px;
    float: left;
}

#box{
    text-align: center;
    border:1px black solid;
    background-color: white;
}
#back_top_line{
    position: absolute;
    top:0;
    left:-3px;
    height:15%;
    width:105%;
    /* animation: spinTopLine 3s infinite alternate; */
    background-color: snow;
    z-index:-3;
}
@keyframes spinTopLine {
    0%{background-image:linear-gradient(7deg, crimson, khaki, palegreen, powderblue pink);}
    20%{background-image:linear-gradient(7deg, khaki, palegreen, powderblue, pink,  crimson);}
    40%{background-image:linear-gradient(7deg, palegreen, powderblue, pink, crimson, khaki);}
    60%{background-image:linear-gradient(7deg, powderblue, pink, crimson, khaki, palegreen);}
    80%{background-image:linear-gradient(7deg, pink, crimson, khaki, palegreen, powderblue);}
    100%{background-image:linear-gradient(7deg, crimson, khaki, palegreen, powderblue, pink);}
}

#game_over{
        -ms-transform: rotate(20deg); /* IE 9 */
        transform: rotate(20deg);
}

#chess_game{
    display: none;
}

body{
    overflow: hidden;
    background-color: aquamarine;
}
#switch_to_game{
    width:10%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}